{% load i18n %}

<div class="sitecontacts-list">
{% for contacts in contacts_list %}
	<table>
	{% if not forloop.first %}
	<caption>{{ contacts.title }}</caption>
	{% endif %}
		<tbody>
	<tr>
		<th>{% trans "Address" %}</th>
		<td>
			{{ contacts.street_address }}, {{ contacts.locality }}<br>
			{{ contacts.postal_code }}, {{ contacts.country_name }}<br>
			{% with contacts.country_name|add:', '|add:contacts.region|add:', '|add:contacts.locality|add:', '|add:contacts.street_address as address %}
				{% blocktrans with addr=address|urlencode %}Find on <a href="http://maps.yandex.ru/?text={{ addr }}">Yandex maps</a>{% endblocktrans %}
			{% endwith %}
		</td>
	</tr>
	<tr>
		<th>{% trans "Contacts" %}</th>
		<td></td>
	</tr>
	<tr>
		<th>{% trans "Phone" %}</th>
		<td>{{ contacts.tel }}</td>
	</tr>
	{% if contacts.fax|length > 1 %}
	<tr>
		<th>{% trans "Fax" %}</th>
		<td>{{ contacts.fax }}</td>
	</tr>
	{% endif %}
	<tr>
		<th>{% trans "Email" %}</th>
		<td><a href="mailto:{{ contacts.email }}">{{ contacts.email }}</a></td>
	</tr>
	</tbody></table>
{% endfor %}
</div>
