{% load i18n %}

<div class="sitecontacts-list">
{% for contacts in contacts_list %}
	<table>
	<caption>{{ contacts.title }}</caption>
	<tbody>
	<tr>
		<th>{% trans "Address" %}</th>
		<td>
			{{ contacts.street_address }}, {{ contacts.locality }}<br>
			{{ contacts.postal_code }}, {{ contacts.country_name }}<br>
			{% blocktrans with addr=contacts.maplink %}Find on <a href="{{ addr }}">Yandex maps</a>{% endblocktrans %}
		</td>
	</tr>
	<tr>
		<th>{% trans "Contacts" %}</th>
		<td></td>
	</tr>
	<tr>
		<th>{% trans "Phone" %}</th>
		<td>{{ contacts.tel }}</td>
	</tr>
	{% if contacts.fax|length > 1 %}
	<tr>
		<th>{% trans "Fax" %}</th>
		<td>{{ contacts.fax }}</td>
	</tr>
	{% endif %}
	<tr>
		<th>{% trans "Email" %}</th>
		<td><a href="mailto:{{ contacts.email }}">{{ contacts.email }}</a></td>
	</tr>
	</tbody></table>
{% endfor %}
</div>
